<div class="top-menu" style="text-align: center;">
    {{ title }}
  </div>
  
  <div class="d-flex pt-3" style="text-align: center;">
    Please enter your phone number:
  </div>
  
  <div class="d-flex pt-3" style="text-align: center;">
    <div>
    <input type="string" #box placeholder="Example: 3023673479" name="phoneNumber" />
  </div>
  
  <div class="pt-3" style="text-align: center;" >
    <button mat-button (click)="close('')">Cancel</button>
    &nbsp;
    <button mat-button (click)="submit(box.value,'home')">Submit</button>
  </div>
  
  
