

<div>
  <div style="float: left"><img src="assets/img/NBLogo.png"/></div>


<div class="top-menu">Noble And Barnes</div>
<div class="top">Welcome to Noble and Barnes</div><br>

</div>


<button class="button-52" (click)="goToPage('home')">Go to Home</button>

<router-outlet></router-outlet>
<!--
<div *ngIf="status==='Logging'">
<div class="center">Are you an existing customer?
  <br>

</div>


<div class="center">
  <button class="button" color="green" mat-button>Yes</button>
  <button class="button" mat-mini-fab>No</button>
</div>
</div>

<div *ngIf="status==='Home'">
  <app-home (dataEvent)="getStatus($event)"></app-home>
</div>

<div *ngIf="status==='StartShopping'">
  <app-shopping></app-shopping>
</div>
{{status}}-->