.top-menu {

    background: #094074;

    padding: 35px 15px;

    text-align: left;

    display: flex;

    justify-content:start;

    font-size: 34px;
  font-weight:bolder;
  font-style: italic;
    color: #fe9000;

}




.center {

    display: flex;

    justify-content: center;

    margin-bottom: 5rem;

    color:#fe9000;

    font-style: oblique;

    font-size: 24px;

  }



  .top{

    display: flex;

    justify-content: center;

      margin-top: 2rem;

      margin-bottom: 3rem;

      color:#094074;


    font-size: 36px;

  }

  button{

      margin-right:3rem;

      margin-left:3rem;

      min-width: 5rem;

      border:none;

      color:#fe9000;

      padding: 20px;

      border-radius: 50%;

      min-block-size: 5rem;

      background: color #3c6997;;



  }