
<div >
    <button class="button-31" (click)="goToPage()">Go To Home</button><br>
    <button class="button-52">Action</button>
    <button class="button-52">Adventure</button>
    <button class="button-52">Comedy</button>
    <button class="button-52">Crime</button>
    <button class="button-52">Drama</button>
    <button class="button-52">Documentary</button>
    <button class="button-52">Fiction</button>
    <button class="button-52">History</button>
    <button class="button-52">Horror</button>
    <button class="button-52">Indie</button>
    <button class="button-52">Mystery</button>
    <button class="button-52">Poetry</button>
    <button class="button-52">Romance</button>
    <button class="button-52">Sci-Fi</button>
    <button class="button-52">Thriller</button>
    
    
</div>
