.center {

    display: flex;

    justify-content: center;
    font-family:'Times New Roman', Times, serif;

    margin-bottom: 5rem;

    color:#fe9000;

    font-style: oblique;

    font-size: 24px;
    

  }

  

/* CSS */
.button-51 {
  background-color: transparent;
  font-family:'Times New Roman', Times, serif;
  margin-right: 35px;
  border: 1px solid #094074;
  box-sizing: border-box;
  color: #094074;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #91c1ef;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #0c6cc6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}