existtext{

    text-align: center;
    align-content: center;
    display: inline-flex;
    margin-right:3rem;

    margin-left:3rem;

    min-width: 5rem;
    color:#fe9000;

    padding: 20px;


    background:#094074;



}