<div class="items" style="text-align: left;">Current Info
    <br>
Name: {{customerExisting?.firstName}}, {{customerExisting?.lastName}}<br>
Phone Number: {{customerExisting?.phoneNumber}}
Email: {{customerExisting?.email}} <br>
Address: <br>
{{customerExisting?.addressObj?.unitNumber}}, {{customerExisting?.addressObj?.streetName}}, 
<br>
{{customerExisting?.addressObj?.city}},
{{customerExisting?.addressObj?.state}},
{{customerExisting?.addressObj?.zipCode}}

</div>


<div style="text-align: center;">
    <h1 class="titleup" mat-dialog-title style="text-align: center;">Update Info</h1>

    <form [formGroup]="requiredForm" novalidate class="formfields" style="text-align: center;">
        <div class="form-group">
            <label class="center-block">First Name:
                <input class="form-control" formControlName="firstName" placeholder="First Name" [(ngModel)]="customer.firstName" />
            </label>
        </div>
        <div *ngIf="requiredForm.controls['firstName'].invalid && requiredForm.controls['firstName'].touched"
            class="alert alert-danger">
            <div class='error' *ngIf="requiredForm.controls['firstName'].errors.pattern">
                First Name must be only letters.
            </div>
            <div class='error' *ngIf="requiredForm.controls['firstName'].errors.required">
                First Name is required.
            </div>
            <div class='error' *ngIf="requiredForm.controls['firstName'].errors.minlength">
                First Name too short.
            </div>
            <div class='error' *ngIf="requiredForm.controls['firstName'].errors.maxlength">
                First Name too long. 
            </div>
        </div>

        <div class="form-group">
            <label class="center-block">Last Name:
                <input class="form-control" formControlName="lastName" placeholder="Last Name" name="customer.lastName" [(ngModel)]="customer.lastName"/>
            </label>
        </div>
        <div *ngIf="requiredForm.controls['lastName'].invalid && requiredForm.controls['lastName'].touched"
            class="alert alert-danger">
            <div class='error' *ngIf="requiredForm.controls['lastName'].errors.required">
                Last Name is required.
            </div>
            <div class='error' *ngIf="requiredForm.controls['lastName'].errors.pattern">
                Last Name must only be letters.
            </div>
            <div class='error' *ngIf="requiredForm.controls['lastName'].errors.minlength">
                Last Name too short
            </div>
            <div class='error' *ngIf="requiredForm.controls['lastName'].errors.maxlength">
                Last Name too long.
            </div>
        </div>

        <div class="form-group">
            <label class="center-block">Email:
                <input class="form-control" formControlName="email" placeholder="Email" style="width: 410px;"
                    name="email" [(ngModel)]="customer.email" />
            </label>
        </div>
        <div *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched"
            class="alert alert-danger">
            <div class='error' *ngIf="requiredForm.controls['email'].errors.required">
                Email is required.
            </div>
            <div class='error' *ngIf="requiredForm.controls['email'].errors.pattern">
                Email is invalid.
            </div>
        </div>
        <label class="center-block">Phone Number:
            <input type="number"  required placeholder="Phone Number" style="width: 410px;" name="phoneNumber"
                [(ngModel)]="customer.phoneNumber" [ngModelOptions]="{standalone: true}"/>
            </label>

        <br>
        <label class="center-block">Unit Number:
        <input type="number" required placeholder="Unit Number" style="width: 410px;" name="unitNumber"
            [(ngModel)]="customer.addressObj.unitNumber" [ngModelOptions]="{standalone: true}"/>
        </label>

            <div class="form-group">
                <label class="center-block">Street Name:
                    <input class="form-control" formControlName="streetName" placeholder="Street Name"
                        style="width: 410px;" name="streetName" [(ngModel)]="customer.addressObj.streetName" />
                </label>
            </div>
            <div *ngIf="requiredForm.controls['streetName'].invalid && requiredForm.controls['streetName'].touched"
                class="alert alert-danger">
                <div class='error' *ngIf="requiredForm.controls['streetName'].errors.required">
                    Street Name is required.
                </div>
                <div class='error' *ngIf="requiredForm.controls['streetName'].errors.pattern">
                    Street Name must be only letters or numbers.
                </div>
                <div class='error' *ngIf="requiredForm.controls['streetName'].errors.maxlength">
                    Street Name must be shorter.
                </div>
            </div>

            <div class="form-group">
                <label class="center-block">City:
                    <input class="form-control" formControlName="city" placeholder="City"
                        style="width: 410px;" name="city" [(ngModel)]="customer.addressObj.city" />
                </label>
            </div>
            <div *ngIf="requiredForm.controls['city'].invalid && requiredForm.controls['city'].touched"
                class="alert alert-danger">
                <div class='error' *ngIf="requiredForm.controls['city'].errors.required">
                    City is required.
                </div>
                <div class='error' *ngIf="requiredForm.controls['city'].errors.pattern">
                    City must be only letters.
                </div>
                <div class='error' *ngIf="requiredForm.controls['city'].errors.maxlength">
                    City must be shorter.
                </div>
            </div>

            <div class="form-group">
                <label class="center-block">State:
                    <input class="form-control" formControlName="state" placeholder="State"
                        style="width: 410px;" name="state" [(ngModel)]="customer.addressObj.state" />
                </label>
            </div>
            <div *ngIf="requiredForm.controls['state'].invalid && requiredForm.controls['state'].touched"
                class="alert alert-danger">
                <div class='error' *ngIf="requiredForm.controls['state'].errors.required">
                    State is required.
                </div>
                <div class='error' *ngIf="requiredForm.controls['state'].errors.pattern">
                    State must be letters.
                </div>
                <div class='error' *ngIf="requiredForm.controls['state'].errors.minlength">
                    State must be at least 4 letters.
                </div>
                <div class='error' *ngIf="requiredForm.controls['state'].errors.maxlength">
                    State must be 13 letters or shorter.
                </div>
            </div>
        <label class="center-block">ZipCode:
        <input type="number"  required minlength="5" maxlength="5" placeholder="Zip Code" name="zipcode"
            [(ngModel)]="customer.addressObj.zipCode" [ngModelOptions]="{standalone: true}"/>
        </label>

    </form>

    <button  class="button-52" mat-button [disabled]="!requiredForm.valid" (click)="submit()">Submit</button>
    <button  class="button-52" (click)="close('home')">Cancel</button>
</div>


<!--
<h1 mat-dialog-title style="text-align: center;">Update Info</h1>
 <form #updateForm="ngForm" novalidate> 
    <div class="form-body" style="text-align: center;">
        <div class="d-flex">
            <div class="col-6">
                <input type="text" required placeholder="First Name" name="firstname"
                    [(ngModel)]="customer.firstName" />
            </div>
            <div class="col-6">
                <input type="text" required placeholder="Last Name" name="lastname" [(ngModel)]="customer.lastName" />
            </div>
        </div>
        <div class="pt-3">
            <input type="text" email required placeholder="Email" style="width: 410px;" name="email"
                [(ngModel)]="customer.email" />
        </div>
        <div class="d-flex pt-3">
            <div>
                <input type="text" required minlength="10" maxlength="10" placeholder="Phone Number" style="width: 410px;" name="phonenumber"
                    [(ngModel)]="customer.phoneNumber" />
            </div>
        </div>
        <div class="d-flex pt-3">
            <div>
                <input type="number" required placeholder="Unit Number" style="width: 410px;" name="unitNumber"
                    [(ngModel)]="customer.addressObj.unitNumber" />
            </div>
        </div>
        <div class="d-flex pt-3">
            <div>
                <input type="text" required placeholder="Street Name" style="width: 410px;" name="streetName"
                    [(ngModel)]="customer.addressObj.streetName" />
            </div>
        </div>
        <div class="d-flex pt-3">
            <div class="col-6">
                <input type="text" required placeholder="City" name="city" [(ngModel)]="customer.addressObj.city" />
            </div>
            <div class="col-6">
                <input type="text" required minlength="4" maxlength="13" placeholder="State (Ex. Florida)" name="state"
                    [(ngModel)]="customer.addressObj.state" />
            </div>
        </div>
        <div class="d-flex pt-3">
            <div>
                <input type="text" required minlength="5" maxlength="5" placeholder="Zip Code" name="zipcode"
                    [(ngModel)]="customer.addressObj.zipCode" />
            </div>
        </div>
        <div class="pt-3" style="text-align: center;">
            <button (click)="close('home')">Cancel</button>
            <button mat-button [disabled]="!updateForm.valid" type="button" (click)="submit()">Submit</button>
        </div>
    </div>
</form>
-->